
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
}

#top {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin: 0.3rem;
  padding: 0px;
}
h2 {
  font-size: 2rem;
  margin: 0.2rem;
  padding: 0px;
}
h3 {
  font-size: 1.5rem;
  margin: 0.2rem;
  padding: 0px;
  font-style: italic;
}

#content {
  font-size: 2em;
  text-align: left;
}

p {
  margin: 0.2rem;
  padding: 0px;
}

#infoForm{
  background-color: rgba(87, 195, 238, 1);
  width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  border-radius: 1.6rem;
  margin: 0.3rem;
}
#infoForm div {
  margin: 0.4rem;
}

#factField {
  width: 20rem;
  height: 15rem;
}

#fctDiv {
  display:flex;
  align-items: flex-start;
  justify-content: center;
}

#btnDiv {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

#factLibrary {
  border: 2px solid black;
  margin: 0.3rem;
  width: 30rem;
  padding: 0.4rem;
  border-radius: 1.6rem;
}

.factoid span{
  display: block;
}

.factoid {
  background-color: rgba(87, 195, 238, 0.6);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 27.5rem;
  font-weight: bold;
  padding: 0.1rem 0.8rem;
  margin: 0.2rem;
}

#libraryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 99%;
}

#libraryHeader div{
  display: flex;
  align-items: center;
}

#coinDisp {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.2rem;
  margin-left: 0.6rem;
  background-color: lightgoldenrodyellow;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 1.2em;
}

@media (min-width: 64rem) {
  #top {
    flex-direction: row;
    align-items: flex-start;
  }

  #infoForm {
    height: 49rem;
    width: 24rem;
  }

  #factLibrary{
    min-width: 30rem;
    width: 100rem;
    min-height: 51rem;
  }

  #libraryHeader {
    position: sticky;
    flex-direction: row;
  }

  #btnDiv {
    width: 94%;
    margin: 0.4rem;
  }

  .factoid {
    width: 94%;
    min-width: 30rem;
  }
}